<div class="header">
<mat-toolbar>
  <img class="logo" src = assets\Images\Olympuslogo.png alt="olympuslogo">
    <button mat-button>Home</button>
    <button mat-button>Team</button>
    <button mat-button>Stats</button>
    <button mat-button>Matches</button>
    <button mat-button>Leaderboard</button>
    <button mat-button>About Us</button>
    <span class="example-spacer"></span>
    <button mat-button>
      <img class="icons" src = "assets\Images\insta.png">
    </button>
    <button mat-button>
      <img class="icons" src = "assets\Images\yt.png">
    </button>
  </mat-toolbar>
</div>


  
